header {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 10px 10px;
  height: 120px;
  background-color: black;
  margin-bottom: 50px;

  .wrap {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    .logo {
      width: 150px;
      left: 10px;
      top: 50%;

      img {
        width: 100%;
        margin: 0;
      }

    }
    .title{
      color: lavender;
    }
  }
}