header {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 10px 10px;
  height: 100px;
  background-color: black;

  .wrap {
    position: relative;
    display: block;
    width: 120px;
    max-width: 980px;
    margin: 0 auto;

    .logo {
      display: block;
      width: 120px;
      position: absolute;
      left: 10px;
      top: 50%;

      img {
        display: block;
        width: 100%;
        margin: 0;
      }
    }
  }
}